<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="four columns">
                Thing A
            </div>
            <div class="four columns">
                Thing B
            </div>
            <div class="four columns">
                Thing C
            </div>
        </div>
    </div>
</footer>