{{! Previous/next page links - only displayed on page 2+ }}
{{!-- <div>
    {{pagination}}
</div> --}}

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="row">
    {{#if image}}
        <div class="twelve columns">
            {{> post-excerpt sizeBig=true}}
        </div>
    {{else}}
        {{#if featured}}
            <div class="twelve columns">
                {{> post-excerpt sizeBig=true}}
            </div>
        {{else}}
            <div class="eight columns offset-by-two">
                {{> post-excerpt}}
            </div>
        {{/if}}
    {{/if}}
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
