<nav class="navbar">
    <div class="column">
        <strong><a href="/">NBACHEF</a></strong>
    </div>
    <div class="column">
        Teams
    </div>
    <div class="column">
        The Association
    </div>
    <div class="column">
        Spieler
    </div>
</nav>