//
// M E R R I W E A T H E R
// 

@font-face {
  font-family: 'MerriweatherLight';
  src: url('../fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MerriweatherLightItalic';
  src: url('../fonts/Merriweather/Merriweather-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'MerriweatherRegular';
  src: url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MerriweatherItalic';
  src: url('../fonts/Merriweather/Merriweather-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'MerriweatherBold';
  src: url('../fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MerriweatherBoldItalic';
  src: url('../fonts/Merriweather/Merriweather-BoldItalic.ttf') format('truetype');
}

//
// L A T O
//

@font-face {
  font-family: 'LatoHairline';
  src: url('../fonts/Lato/Lato-Hairline.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoHairlineItalic';
  src: url('../fonts/Lato/Lato-HairlineItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoLightItalic';
  src: url('../fonts/Lato/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoItalic';
  src: url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoBoldItalic';
  src: url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoBlack';
  src: url('../fonts/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoBlackItalic';
  src: url('../fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
}

//
// O P E N   S A N S
//

// @font-face {
//   font-family: 'OpenSansLight';
//   src: url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'OpenSansLightItalic';
//   src: url('../fonts/Open_Sans/OpenSans-LightItalic.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'OpenSansRegular';
//   src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'OpenSansItalic';
//   src: url('../fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'OpenSansBold';
//   src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'OpenSansBoldItalic';
//   src: url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'OpenSansExtraBold';
//   src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
// }