@import "variables";

.header {
    .header-title {
        text-align: center;
        letter-spacing: 1em;
        margin-left: 1em;
        font-family: @font-sans-thin;
        color: @gray-light;
    }

    .menu {
        &.is-selected {
            .menu-item {
                color: @gray-light;
                &[selected] {
                    color: @red;
                }
            }
        }
        .menu-item {
            .transition( color );
            position: relative;
            top: 0px;
            font-family: @font-sans;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: .2em;
            user-select: none;
            cursor: pointer;
            &:hover {
                color: @red;
            }
        }
    }

    .menu-content {
        .transition( height );
        height: 0px;
        position: relative;

        box-shadow: inset 0px -1px 4px -1px @gray;
        border-bottom: 1px solid darken(@white, 1%);
        &.is-open {
            height: 10em;
        }

        .menu-content-item {
            padding: .5em;
            text-align: center;
            font-family: @font-sans;
        }
    }
}