@import "variables";

.post-template {

    .post {
        max-width: 650px;
        margin: 0 auto;
    }
    .post-header {
        position: absolute;
        top: 0;
        left: 0;
        background: @blue;
        
        .post-title {
            color: @white;
            position: relative;
            background: @blue;
            top: 50%;
            padding-left: .5em;
        }

        &.has-image {
            background-size: cover;
            background-position: center;
        }
    }

    .post-content {
        position: relative;

        h1 {
            margin-top: 4em;
        }
        h2 {
            margin-top: 3em;
        }

        p {
            img {
                width: 100%;
                @media( min-width: 960px ) {                
                    position: relative;
                    width: 125%;
                    left: -12.5%;
                }
            }

            + p {
                margin-top: 2em;
            }
        }

        .twitter-tweet {
            margin: 3em 0 !important;
            width: 100% !important;
            @media( min-width: 960px ) {
                position: relative !important;
                width: 80% !important;
                left: 10% !important;
            }
        }
    }

    .post-footer, .post-author {
        border-top: 1px solid darken( @white, 1% );
        padding-top: 2em;
        margin-top: 2em;
    }

    .post-date {
        text-align: center;
        color: @gray;
        padding-bottom: 1em;
    }

    .post-tags {
        text-align: center;
        font-family: @font-sans;
        .post-tag:before {
            content: '#';
            margin-right: .1em;
        }
        .post-tag {
            margin-right: 1em;
        }
    }
}