@import "variables";
@import "teams";

@bg-opacity: 70%;

.branded-header( @team ) {
    .post-header {
        &:not(.has-image) {
            .team-radial-background(@team);
            .post-title {
                .team-color(@team);
            }
        }
        &.has-image {
            .post-title {
                .team-background( @team, @bg-opacity );
                .team-color( @team );
            }
        }
    }
}

.post-template {

    &.covers-single-team {
        &.tag-golden-state-warriors {
            .branded-header("golden-state-warriors");
        }
        &.tag-new-orleans-pelicans {
            .branded-header("new-orleans-pelicans");
        }
        &.tag-orlando-magic {
            .branded-header("orlando-magic");
        }
    }

    .post {
        max-width: 650px;
        margin: 0 auto;
    }
    .post-header {
        margin-bottom: 4em;
        position: relative;
        top: -30px; //navbar
        background: radial-gradient( circle at center, @gray-dark 0%, darken(@gray-dark, 10%) 100% );
        
        &.has-image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 0%;
            background-blend-mode: lighten;

            .post-title {
                top: 50%;
                text-shadow: 1px 1px @black;
                background: fade( @black, @bg-opacity );
            }
        }

        .post-title {
            color: @white;
            position: relative;
            top: 33%;
            padding-top: 1em;
            padding-bottom: 1.5em;
            margin: 0;
            text-align: center;
        }
    }

    .post-content {
        position: relative;

        h1 {
            margin-top: 4em;
        }
        h2 {
            margin-top: 3em;
        }

        h3,
        h4,
        h5,
        h6 {
            margin-top: 2em;
        }

        p {
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }

            + p,
            + blockquote,
            + ul,
            + ol {
                margin-top: 2em;
            }
        }

        ul + p,
        .fluid-width-video-wrapper + p,
        blockquote + p,
        ol + p {
            margin-top: 2em;
        }

        blockquote {
            padding: 2em;
            padding-left: 2em;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
            border-left: .5em solid @red;
            font-family: @font-serif-italic;
            background: #eee;
            color: @gray-dark;
        }

        .twitter-tweet {
            margin: 3em 0 !important;
            width: 100% !important;
            @media( min-width: @bp-desktop ) {
                position: relative !important;
                width: 80% !important;
                left: 10% !important;
            }
        }
    }

    .post-footer,
    .post-author,
    .post-comments {
        border-top: 1px solid darken( @white, 1% );
        padding-top: 2em;
        margin-top: 2em;
    }

    .post-comments {
        text-align: center;
    }

    .post-date {
        text-align: center;
        color: @gray;
        padding-bottom: 1em;
    }

    .post-tags {
        text-align: center;
        font-family: @font-sans;
        .post-tag:before {
            content: '#';
            margin-right: .1em;
        }
        .post-tag {
            margin-right: 1em;
        }
    }
}