@import "variables";
@import "fonts";

body {
    font-family: @font-serif;
    font-size: @font-size;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
}

strong {
    font-family: @font-serif-bold;
}

em {
    font-family: @font-serif-italic;
}

strong > em,
em > strong {
    font-family: @font-serif-bolditalic;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @font-sans-bold;
}

h1 {
    font-size: @font-size-huge;
    font-family: @font-sans-black;
    letter-spacing: .03em;
    line-height: 1.25em;
}

h2 {
    font-size: @font-size-biggest;
    line-height: 1.25em;
    letter-spacing: .02em;
    a {
        border-width: 4px;
    }
}

h3 {
    font-size: @font-size-bigger;
    letter-spacing: .04em;
    line-height: 1.35em;
    a {
        border-width: 2px;
    }
}

h4 {
    font-size: @font-size-big;
}

h5 {
    font-size: @font-size;
}

h6 {
    font-size: @font-size-small;
}